.comment {
  background: $tundora-light;
  border: 1px solid black;
  margin-bottom: 10px;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding: 4px;
  display: flex;
}

.comment:last-child {
  margin-bottom: 0;
}

.comment-text {
  white-space: pre-wrap;
}

.comment-icon {
  z-index: 1001;
  cursor: pointer;
  position: absolute;
  right: 2px;
  color: $mine-shaft;
}

.comment-icon.edit {
  top: 2px;
}

.comment-icon.remove {
  top: 26px;
}

.comment-icon:hover {
  color: $alto;
}

.comment-date {
  color: $alto;
}

.comment-content {
  width: 100%;
}

.content-header {
  display: inline-flex;
  flex-direction: column;
}

.content-header span {
  display: flex;
  flex: auto;
  align-items: center;
  line-height: initial;
}

.content-header .author-name {
  cursor: pointer;
}
