.b-pagination {
  .page-item .page-link {
    color: $twilight;
    background-color: $tundora-light;
    border-color: black;
  }

  .page-item .page-link:focus {
    box-shadow: 0 0 0 0.1rem rgba(246, 246, 246, 0.25)
  }

  .page-item .page-link:hover {
    color: $mine-shaft-light;
    background-color: $alto;
    border-color: $dove-gray;
  }

  .page-item.active .page-link {
    color: $mine-shaft;
    background-color: white;
    border-color: $dove-gray;
    border-top-color: white;
    border-bottom-color: white;
    cursor: default;
  }

  .page-item.bv-d-xs-down-none .page-link {
    border-left-color: black;
    border-right-color: black;
  }

  .page-item.disabled .page-link {
    background-color: $gray;
    color: $silver;
  }
}
