<template>
  <div class="avatar-container">
    <div class="row m-0" v-if="!loading" :class="{ active: canUpdate }">
      <picture-input
        v-if="!loading"
        ref="pictureInput"
        class="col-sm"
        @change="avatarChange"
        :changeOnClick="canUpdate"
        width="150"
        height="150"
        margin="0"
        radius="50"
        accept="image/jpeg"
        :prefill="avatar"
        :prefillOptions="{ mediaType: 'image/jpeg' }"
        :zIndex="4000"
        :plain="true"
        :hideChangeButton="true"
      />

      <font-awesome-icon class="fa-times close" icon="times" @click="avatarRemove" v-if="canUpdate" v-show="avatar" />
      <font-awesome-icon class="camera" icon="camera" @click="$refs.pictureInput.onClick()" v-show="!avatar"/>
    </div>
  </div>
</template>

<script>
import PictureInput from 'vue-picture-input'
import { USER } from '@/stores/actions/user.type'
import { HTTP } from '@/common/services/http.service'

export default {
  components: { PictureInput },
  props: {
    avatar: { type: String },
    loading: { type: Boolean},
    canUpdate: { type: Boolean }
  },
  methods: {
    avatarChange(avatar) {
      this.$store.dispatch(USER.AVATAR.UPLOAD, { avatar })
        .then(response => this.emitAvatarUpdate(response.data.avatarUrl) )
    },
    avatarRemove() {
      this.$store.dispatch(USER.AVATAR.REMOVE)
        .then(response => this.emitAvatarUpdate(''));
    },
    emitAvatarUpdate(avatar) {
      this.$emit('update-avatar', avatar)
    }
  },
};
</script>

<style lang="scss">
  .avatar-container {
    position: relative;
    margin-bottom: 10px;

    #picture-input {
      position: relative;
      height: 150px;
    }

    .preview-container {
      max-width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      left: 16px;
      transition: transform .2s;
      border: 1px solid $mirage;
      z-index: 2000;
    }

    .active .preview-container:hover {
      transform: scale(1.03);
    }

    .close {
      color: $swan;
      cursor: pointer;
      position: absolute;
      left: 150px;
      top: 0;
      z-index: 9001;
      opacity: 0.6
    }

    .close:hover {
      opacity: 1
    }

    .camera {
      position: absolute;
      top: 35px;
      left: 51px;
      font-size: 80px;
      color: $twilight;
      z-index: 999;
      cursor: pointer;
    }

    .no-avatar, img {
      border: 1px $mirage solid;
      vertical-align: middle;
      display: inline-block;
      border-radius: 100%;
      width: 100px;
      height: 100px;
    }
  }
</style>