<template>
  <div class="container no-header post-show" v-if="post.id">
    <div v-show="!loading">
      <post :post="post" :redirect-on-delete="true">
        <template>
          <post-author :post="post"></post-author>
        </template>
      </post>

      <comment-submit :postId="post.id" />

      <post-comment v-for="comment in comments.list" :comment="comment" v-bind:key="comment.id" />
    </div>
    <loading v-if="loading"></loading>
  </div>
</template>

<script>
import Post from "@/components/post/Post"
import PostAuthor from "@/components/post/PostAuthor"
import CommentSubmit from "@/components/comments/CommentSubmit"
import PostComment from "@/components/comments/PostComment"
import store from '@/stores';
import { mapState } from 'vuex';
import { typeAs } from "@/common/utils";
import { COMMENTS } from '@/stores/actions/comments.type';
import { ERROR } from '@/stores/actions/error.type';
import { HTTP } from '@/common/services/http.service'

export default {
  components: { Post, PostAuthor, Comment, CommentSubmit, PostComment },
  computed: { ...mapState(['comments']) },
  data() {
    return {
      post: {},
      loading: true,
    }
  },
  created() {
    HTTP.get(`/posts/${this.$route.params.id}`)
      .then(response => {
        this.post = typeAs('Post')(response.data.post);
        this.$store.commit(COMMENTS.STORE, response.data.comments);
        this.loading = false;
      })
      .catch(error => {
        this.$store.commit(ERROR.SHOW, error)
      })
  },
  beforeRouteLeave(to, from, next) {
    store.commit(COMMENTS.CLEAR);
    next()
  }
};
</script>

<style lang="scss" >
  .post-show .post-container:hover {
    border-color: black;
    cursor: default;
  }

  .comment-list {
    position: relative;
  }
</style>