<template>
  <div>
    <post-form :post="post" @submit="submit">
      <template>
        Edit post
      </template>
    </post-form>
  </div>
</template>

<script>
import PostForm from "@/components/post/PostForm"
import { HTTP } from '@/common/services/http.service'

export default {
  components: { PostForm },
  data() {
    return {
      post: {
        title: '',
        body: ''
      }
    }
  },
  created() {
    return HTTP.get(`/posts/${this.$attrs.id}/edit`)
      .then(response => this.post = response.data)
  },
  methods: {
    submit(post) {
      HTTP.patch(`/posts/${this.$attrs.id}`, post)
        .then(() => {
          this.$router.push({ name: 'PostShow', params: { id: this.$attrs.id } });
        })
    }
  },
};
</script>

<style lang="scss">
</style>