<template>
  <div>
    <post-form @submit="submit">
      <template>
        Create post
      </template>
    </post-form>
  </div>
</template>

<script>
import PostForm from "@/components/post/PostForm"
import { HTTP } from '@/common/services/http.service'

export default {
  components: { PostForm },
  methods: {
    submit(post) {
      HTTP.post('/posts', post)
        .then(() => this.$router.push({ name: "Home", params: { page: 1 } }) )
    }
  }
};
</script>

<style lang="scss" scoped>
</style>