$swan: #eff2de;
$twilight: #FEFFFF;
$wild-sand: #f6f6f6;
$alto: #dfdfdf;
$silver: #c0c0c0;
$silver-chalice: #A0A0A0;
$gray: #818181;
$dove-gray: #616161;
$scorpion: #575757;
$tundora-light: #4E4E4E;
$tundora: #444444;
$mine-shaft-light: #3a3a3a;
$mine-shaft: #303030;
$mirage: #17252A;

$chestnut-rose: #CF6679;
$matrix: #a75458;
$red-orange: #ba2f2e;
$guardsman-red: #c02c25;
