<template>
  <div>
    <h2 class="text-center">{{ message }}</h2>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      required: true
    }
  },
  created() {
    setTimeout(() => {
      this.$router.replace({ name: 'Login' })
    }, 3000)
  }
};
</script>

<style lang="scss">
</style>
