<template>
  <div id="navigation" class="fixed-top">
    <b-navbar toggleable="lg" type="dark">
      <b-navbar-brand>
        <router-link :to="{ name: 'Home', params: { page: 1 } }">FooApp</router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item id="nav-login" v-if="!isAuthenticated">
            <router-link :to="{ name: 'Login' }">Login</router-link>
          </b-nav-item>

          <b-nav-item id="nav-signup" v-if="!isAuthenticated">
            <router-link :to="{ name: 'Registration' }">Sign up</router-link>
          </b-nav-item>

          <b-nav-item id="new-post" v-if="isAuthenticated">
            <router-link :to="{ name: 'PostSubmit' }">New Post</router-link>
          </b-nav-item>

          <b-nav-item v-if="isAuthenticated">
            <router-link :to="{ name: 'UserGeneral', params: { id: user.id } }">{{ user.email }}</router-link>
          </b-nav-item>

          <b-nav-item id="nav-logout" v-if="isAuthenticated">
            <a id="nav-logout-link" @click="logout">Logout</a>
          </b-nav-item>

          <b-nav-item class="user-icon" v-if="isAuthenticated">
            <router-link :to="{ name: 'UserGeneral', params: { id: user.id } }">
              <img ref="img" v-bind:src="user.avatarUrl || `${$data.$_publicPathMixin_path}no-avatar.png`">
            </router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { AUTH } from '../../stores/actions/auth.type'
import { publicPathMixin } from '@/common/mixins/public-path.mixin';
import { mapState, mapGetters } from "vuex";

export default {
  mixins: [publicPathMixin],
  computed: {
    ...mapState(['user']),
    ...mapGetters(['isAuthenticated']),
  },
  methods: {
    logout() {
      this.$store.dispatch(AUTH.LOGOUT).finally( async () => {
        await this.$store.commit(AUTH.RULES.CLEAR, this.$ability);

        this.$router.replace({ name: 'Login' })
      })
    },
  }
};
</script>

<style lang="scss">
  #navigation {
    overflow: hidden;
    z-index: 9999;
    background-color: $mine-shaft-light;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(254,255,255,.5);
    border-color: rgba(254,255,255,.1);
  }

  .navbar-toggler:focus {
    outline: rgba(254,255,255,.1);
  }

  .navbar.navbar-dark {
    border-bottom: 1px $mirage solid
  }

  .navbar.navbar-dark .navbar-brand {
    color: $wild-sand;
  }

  .nav-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $silver-chalice;
  }

  .nav-item a,
  .nav-item a:hover,
  .navbar-brand a,
  .navbar-brand a:hover {
    float: right;
    display: inline-block;
    color: inherit;
    text-decoration: none
  }

  .navbar-expand-lg .nav-item.user-icon .nav-link {
    padding: 5px 0 5px 8px;
  }
</style>
