<template>
  <div id="home" class="no-header">
    <loading v-if="loading" :light-theme="true"></loading>
    <div class="container" v-show="!loading">
      <h3 class="text-center" v-if="!arePostsPresent">
        <span>No posts yet.</span>
        <br>
        <router-link :to="{ name: 'PostSubmit' }">Want to write one?</router-link>
      </h3>

      <h3 class="text-center" v-if="arePostsPresent">Recent posts</h3>

      <b-pagination
          class="justify-content-center"
          v-if="postsCount > perPage && arePostsPresent"
          v-model="currentPage"
          :total-rows="postsCount"
          :per-page="perPage"
          @change="pageChange"
          first-text="first"
          prev-text="prev"
          next-text="next"
          last-text="last">
      </b-pagination>

      <post v-for="post in posts.list" :post="post" v-bind:key="post.id" :hide-delete="true">
        <template>
          <post-author :post="post"></post-author>
        </template>
      </post>
    </div>
  </div>
</template>

<script>
import { POSTS } from '@/stores/actions/posts.type'
import { mapState, mapGetters } from 'vuex';
import Post from "@/components/post/Post";
import PostAuthor from "@/components/post/PostAuthor";
import '@/styles/components/pagination.scss';

export default {
  components: { Post, PostAuthor },
  data() {
    return {
      loading: true,
      postsCount: 0,
      perPage: 5,
    }
  },
  props: {
    page: Number,
    required: true
  },
  computed: {
    ...mapState(['posts']),
    ...mapGetters(['arePostsPresent']),
    currentPage: {
      get() {
        return parseInt(this.$route.params.page) || 1;
      },
      set(newPage) {
        return newPage;
      }
    }
  },
  methods: {
    pageChange(page) {
      if (this.page == page) { return }
      this.$router.push({ name: 'Home', params: { page } });
    },
    fetchPosts() {
      const requestParams = {
        params: {
          amount: this.perPage,
          offset: (this.page - 1) * this.perPage
        }
      };

      this.$store.dispatch(POSTS.FETCH, requestParams)
        .then(response => {
          this.loading = false;
          this.postsCount = response.data.postsCount
        })
    }
  },
  created() {
    this.fetchPosts()
  },
  watch: {
    '$route.params.page': 'fetchPosts',
  },
  beforeRouteLeave: function(to, from, next) {
    this.loading = true;
    this.$store.commit(POSTS.CLEAR);

    next();
  }
};
</script>

<style type="scss">
</style>