<template>
  <div id="modal-message">
    <v-dialog />
  </div>
</template>

<script>
import { MODAL } from "@/stores/actions/modal.type"
import { AUTH } from "@/stores/actions/auth.type"
import { USER } from "@/stores/actions/user.type"
import store from '@/stores';

export default {
  name: 'UnauthorizedModal',
  created() {
    store.subscribe((mutation) => {
      if (mutation.type === MODAL.UNAUTHORIZED_DIALOG.SHOW) { this.show() }
      if (mutation.type === MODAL.UNAUTHORIZED_DIALOG.HIDE) { this.hide() }
    });
  },
  methods: {
    show() {
      const timer = setTimeout(() => this.logout(), 3000);

      this.$modal.show('dialog', {
        title: 'Signature has expired',
        text: 'Redirecting to login',
        buttons: [{
          title: 'OK',
          default: true,
          handler: () => {
            clearTimeout(timer);
            this.logout()
          }
        }]
      })
    },
    hide() {
      this.$modal.hide('dialog');
    },
    logout() {
      store.dispatch(AUTH.LOGOUT).finally(async () => {
        this.hide();
        await this.$store.commit(AUTH.RULES.CLEAR, this.$ability);
        this.$router.replace({ name: 'Login' })
      });
    }
  }
};
</script>

<style lang="scss">
  #modal-message {
    display: flex;
    align-items: center;
    color: black
  }

  .v--modal-overlay {
    z-index: 2001;
  }

  .vue-dialog .dialog-content {
    text-align: center;
  }
</style>