<template>
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-6 my-auto">
        <div id="auth-box" class="col-md-12">
          <h3 class="text-center auth-text-info">{{ formText.title }}</h3>
          <form id="auth-form" class="form" @submit.prevent="evokeAuth">
            <fieldset class="form-group" :class="{ 'form-group-error': $v.email.$error }">
              <div class="input-info">
                <label for="email" class="auth-text-info">
                  <span>Email: </span>
                </label>
                <ul class="error-list">
                  <li v-if="!$v.email.required" class="error">is required</li>
                  <li v-if="!$v.email.email" class="error">should be valid</li>
                </ul>
              </div>
              <input id="email"
                     v-model="$v.email.$model"
                     @input="$_delayedValidationMixin_validate($v.email)"
                     type="email"
                     name="email"
                     class="form-control">
            </fieldset>

            <fieldset class="form-group" :class="{ 'form-group-error': $v.name.$error }" v-if="displayField('name')">
              <div class="input-info">
                <label for="name" class="auth-text-info">
                  <span>Username: </span>
                </label>
                <ul class="error-list">
                  <li v-if="!$v.name.required" class="error">is required</li>
                  <li v-if="!$v.name.noSpaces" class="error">should be without spaces</li>
                  <li v-if="!$v.name.minLength" class="error">
                    should be at least {{ $v.name.$params.minLength.min }} symbols long
                  </li>
                  <li v-if="!$v.name.maxLength" class="error">
                    should be shorter than {{ $v.name.$params.maxLength.max }} symbols long
                  </li>
                </ul>
              </div>
              <input id="name"
                     v-model="$v.name.$model"
                     @input="$_delayedValidationMixin_validate($v.name)"
                     type="text"
                     name="name"
                     class="form-control"
              />
            </fieldset>

            <fieldset class="form-group" :class="{ 'form-group-error': $v.password.$error }">
              <div class="input-info">
                <label for="password" class="auth-text-info">
                  <span>Password: </span>
                </label>
                <ul class="error-list">
                  <li v-if="!$v.password.required" class="error">is required</li>
                  <li v-if="!$v.password.noSpaces" class="error">should be without spaces</li>
                  <li v-if="!$v.password.minLength" class="error">
                    should be at least {{ $v.password.$params.minLength.min }} symbols long
                  </li>
                  <li v-if="!$v.password.maxLength" class="error">
                    should be shorter than {{ $v.password.$params.maxLength.max }} symbols long
                  </li>
                </ul>
              </div>
              <input id="password"
                     v-model="$v.password.$model"
                     @input="$_delayedValidationMixin_validate($v.password)"
                     type="password"
                     name="password"
                     class="form-control">
            </fieldset>

            <ul id="form-error" v-if="error">
              <li>{{ error }}</li>
            </ul>
            <div class="form-group">
              <input id="auth-button"
                     type="submit"
                     name="submit"
                     class="button btn btn-info btn-md"
                     value="submit" :disabled="!isFormValid">
            </div>
          </form>
          <div id="footer" class="text-center">
            <span class="footer-text">{{ formText.footer }}</span>
            <router-link :to="alternateForm" class="auth-link">{{ formText.footerLink }}</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AUTH } from '@/stores/actions/auth.type'
import { noSpaces } from '@/common/validators/no-spaces'
import { delayedValidationMixin } from '@/common/mixins/delayed-validation.mixin'
import { required, minLength, maxLength, email } from "vuelidate/lib/validators"

export default {
  data() {
    return {
      email: '',
      name: '',
      password: '',
    }
  },
  mixins: [delayedValidationMixin],
  props: {
    displayedFields: {
      email: {
        type: String,
        required: true
      },
      password: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: false
      }
    },
    formText: {
      title: String,
      footer: String,
      footerLink: String
    },
    alternateForm: String,
    error: String
  },
  possibleFields: {
    email: {
      email,
      required
    },
    name: {
      required,
      noSpaces,
      minLength: minLength(3),
      maxLength: maxLength(20)
    },
    password: {
      required,
      noSpaces,
      minLength: minLength(6),
      maxLength: maxLength(50)
    }
  },
  validations() {
    return this.displayedFields
  },
  computed: {
    isFormValid() {
      return !this.$v.$invalid
    }
  },
  methods: {
    buildRequestParams() {
      let result = { user: {} };

      Object.keys(this.displayedFields).forEach((field) => {
        result.user[field] = this.$data[field]
      });

      return result
    },
    evokeAuth() {
      if (this.isFormValid) {
        this.$emit('clear-error');
        this.$emit('auth', this.buildRequestParams());
      }
    },
    displayField(field) {
      return !!this.displayedFields[field]
    }
  }
}
</script>

<style lang="scss" scoped>
  #auth-box {
    padding: 15px;
    border: 1px solid $silver;
    background-color: $gray;

    h3 {
      margin-bottom: 0;
    }

    .auth-link {
      color: $tundora;
    }

    #auth-form {
      padding: 20px;
    }

    .input-info {
      margin-bottom: .5rem
    }

    .auth-text-info {
      display: block;
      margin-bottom: 0;
      color: $wild-sand;
    }

    .error-list {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  .form-group {
    .btn {
      width: 100%;
      margin-bottom: 4px;
    }

    .form-control:focus {
      border-color: $dove-gray;
      box-shadow: 0 0 0 0.2rem rgba(220,220,220,.25);
    }
  }

  .footer-text::after {
    content: ' ';
  }

  .form-group.form-group-error {
    .error {
      display: block;
      color: $red-orange;
    }

    input {
      color: $red-orange;
      border-color: $red-orange;
    }

    input:focus {
      border-color: $guardsman-red;
      box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.125);
    }
  }

  .error {
    display: none;
  }

  #form-error {
    color: $red-orange;
    text-align: center;
    list-style: none;
    padding: 0;
  }
</style>