<template>
  <div>
    <div class="loading-animation" v-bind:style="styles" v-bind:class="[lightTheme ? 'light' : 'dark']">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      lightTheme: Boolean,
      styles: Object
    }
  }
</script>

<style lang="scss">
  .loading-animation {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
  }

  .loading-animation div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    animation: loading-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .loading-animation.dark div {
    background: $scorpion;
  }

  .loading-animation.light div {
    background: $silver;
  }

  .loading-animation div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .loading-animation div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  .loading-animation div:nth-child(3) {
    left: 56px;
    animation-delay: inherit;
  }

  @keyframes loading-animation {
    0% {
      top: 8px;
      height: 64px;
    }

    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

</style>