<template>
  <div class="loading-spinner-animation" v-show="visible" v-bind:style="styles" v-bind:class="[lightTheme ? 'light' : 'dark']">
  </div>
</template>

<script>
  export default {
    props: {
      visible: Boolean,
      lightTheme: Boolean,
      styles: Object
    }
  }
</script>

<style lang="scss">
  .loading-spinner-animation,
  .loading-spinner-animation:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  .loading-spinner-animation {
    float: right;
    display: inline-block;
    top: 4px;
    margin-right: 5px;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border: 1.1em solid $scorpion;
    border-left: 1.1em solid $mine-shaft;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>