<template>
  <div v-if="anyOperationAvailable" v-bind:class="{ dark: config.darkTheme }" class="operations">
    <span class="operations-icon" v-if="config.edit || config.remove" @click.stop="toggleVisibility">
      <font-awesome-icon class="icon" ref="operationsIcon" icon="ellipsis-v" />
    </span>

    <div class="manage-operations" v-if="operationsVisible" ref="manageOperations">
      <font-awesome-icon v-show="config.edit" class="icon" icon="pencil-alt" @click.stop="evoke('Edit')" />
      <font-awesome-icon v-show="config.remove" class="icon" icon="trash" @click.stop="evoke('Remove')" />
    </div>

    <span class="likes" v-if="config.like">
      <span class="likes-counter">{{ config.likesCount }}</span>
      <font-awesome-icon v-show="!config.liked" class="icon" :icon="notLikedHeartIcon" @click.stop="evoke('Like')" />
      <font-awesome-icon v-show="config.liked" @mouseover="likeMouseOver" @mouseleave="likeMouseLeave" class="icon" :icon="likedHeartIcon" @click.stop="evoke('Unlike')" />
    </span>
  </div>
</template>

<script>
import { eventBus } from '../main'

const NOT_LIKED_HEART_ICON = ['far', 'heart'];
const DEFAULT_LIKED_HEART_ICON = ['fas', 'heart'];
const HOVERED_LIKED_HEART_ICON = ['fas', 'heart-broken'];
const CLOSE_POPUPS_EVENT = 'stop-propagated-click';

export default {
  data() {
    return {
      operationsVisible: false,
      notLikedHeartIcon: NOT_LIKED_HEART_ICON,
      likedHeartIcon: DEFAULT_LIKED_HEART_ICON
    }
  },
  computed: {
    anyOperationAvailable() {
      return this.config.like || this.config.edit || this.config.remove
    }
  },
  props: {
    config: {
      type: Object,
      required: true
    },
  },
  methods: {
    hideOperations() {
      this.operationsVisible = false
    },
    evoke(action) {
      this.hideOperations();
      this.$emit('evoke', action)
    },
    likeMouseOver() {
      this.likedHeartIcon = HOVERED_LIKED_HEART_ICON;
    },
    likeMouseLeave() {
      this.likedHeartIcon = DEFAULT_LIKED_HEART_ICON;
    },
    toggleVisibility() {
      if (this.operationsVisible) {
        this.hideOperations()
      } else {
        eventBus.$emit(CLOSE_POPUPS_EVENT);
        this.operationsVisible = true
      }
    },
    moveOperations() {
      let operationsIconClientRect = this.$refs.operationsIcon.getBoundingClientRect();

      this.$nextTick(() => {
        this.$refs.manageOperations.style.top = `${operationsIconClientRect.height}px`;
        this.$refs.manageOperations.style.right = '0px';
      })
    },
    subscribeToListeners() {
      eventBus.$on(CLOSE_POPUPS_EVENT, this.hideOperations);
      const listener = this.hideOperations;
      setTimeout(() => window.addEventListener('click', listener), 0); // timeout to prevent immediate close
    },
    unsubscribeFromListeners() {
      eventBus.$off(CLOSE_POPUPS_EVENT, this.hideOperations);
      window.removeEventListener('click', this.hideOperations);
    },
  },
  watch: {
    operationsVisible: function(val, oldVal) {
      if (val) {
        this.moveOperations();
        this.subscribeToListeners()
      } else {
        this.unsubscribeFromListeners()
      }
    }
  },
}
</script>

<style lang="scss">
  .operations {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-left: 4px;
    width: 15px;
  }

  .operations::before {
    content: ' ';
    margin-left: 10px;
  }

  .operations .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .operations .icon:hover,
  .operations .operations-icon:hover {
    color: $gray;
    cursor: pointer;
  }

  .operations.dark .likes,
  .operations.dark .operations-icon {
    color: $mine-shaft-light;
  }

  .operations.dark .likes .icon:hover,
  .operations.dark .operations-icon:hover,
  .operations.dark .operations-icon .icon:hover {
    color: white;
  }

  .operations .likes {
    margin-top: auto;
    text-align: center;
  }

  .operations .likes-counter {
    font-size: small;
  }

  .operations .manage-operations {
    background: $mine-shaft;
    display: flex;
    border-radius: 2px;
    border: 1px solid $alto;
    position: absolute;
  }

  .operations .manage-operations .icon {
    margin: 3px;
  }
</style>