<template>
  <div class="row" id="comment-submit">
    <form @submit.prevent="submit" class="col-md-12">
      <textarea ref="textArea" maxlength="140" v-model="text" id="comment-text" placeholder="Leave your comment here">
      </textarea>
      <div class="button-container">
        <button type="submit" class="btn btn-secondary button" :disabled="!$_lengthCheckMixin_inBetween(text, minLength, maxLength)">Submit</button>
      </div>
    </form>
  </div>
</template>

<script>
import { COMMENTS } from "@/stores/actions/comments.type";
import { HTTP } from '@/common/services/http.service'
import { lengthCheckMixin } from '@/common/mixins/length-check.mixin';
import { resizeTextAreaMixin } from '@/common/mixins/resize-textarea.mixin'

export default {
  mixins: [lengthCheckMixin, resizeTextAreaMixin],
  props: {
    postId: Number
  },
  data() {
    return {
      text: '',
      minLength: 1,
      maxLength: 140
    }
  },
  methods: {
    submit() {
      let params = {
        postId: this.postId,
        text: this.text.trim()
      };

      this.$store.dispatch(COMMENTS.REQUEST.CREATE, params)
        .then(() => this.text = '' )
    }
  },
  watch: {
    text() {
      this.$_resizeTextAreaMixin_resize(this.$refs.textArea)
    }
  }
};
</script>

<style lang="scss" scoped>
  #comment-submit {
    position: relative;
    padding: 10px 0;
    background-color: $mine-shaft;
    margin-bottom: 10px;
    z-index: 1000;
  }

  #comment-submit textarea {
    width: 100%;
    border: 1px solid $scorpion;
    outline-color: $scorpion;
    padding: 0 5px;
    border-radius: 4px;
    background-color: $mine-shaft;
    color: $twilight;
    white-space: pre-wrap;
    overflow: hidden;
  }

  #comment-submit textarea::placeholder {
    color: $silver;
    opacity: 1;
  }

  #comment-submit textarea:focus {
    border-color: $alto;
    outline-color: $alto;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

</style>