<template>
  <div class="comment-edit">
    <div>
      <textarea ref="textArea" v-model="editedText" :maxlength="maxLength" v-focus></textarea>
    </div>
    <div class="edit-submit">
      <div class="error-message" v-if="(isUpdateDisabled && !isTextPristine)">
        {{ errorMessage }}
      </div>
      <button v-my-stop:click="cancel" class="btn cancel-edit">
        Cancel
      </button>
      <button v-my-stop:click="update" class="btn btn-secondary" :disabled="isUpdateDisabled">
        Update
      </button>
    </div>
  </div>
</template>

<script>
import focusDirective from '@/common/directives/focus'
import customStopPropagation from '@/common/directives/stop-propagate-click'
import { COMMENTS } from "@/stores/actions/comments.type";
import { HTTP } from '@/common/services/http.service'
import { lengthCheckMixin } from '@/common/mixins/length-check.mixin';
import { resizeTextAreaMixin } from '@/common/mixins/resize-textarea.mixin'

export default {
  mixins: [lengthCheckMixin, resizeTextAreaMixin],
  props: {
    id: Number,
    text: String
  },
  data() {
    return {
      minLength: 1,
      maxLength: 140,
      editedText: this.text,
      isTextPristine: true
    }
  },
  mounted() {
    this.$_resizeTextAreaMixin_resize(this.$refs.textArea)
  },
  directives: {
    focus: focusDirective,
    myStop: customStopPropagation
  },
  computed: {
    isUpdateDisabled() {
      if (this.editedText === this.text) {
        this.errorMessage = 'Edited text is the same';
        return true
      }

      if (!this.$_lengthCheckMixin_inBetween(this.editedText, this.minLength, this.maxLength)) {
        this.errorMessage = `Text should be in ${this.minLength}..${this.maxLength} letters`;
        return true
      }

      return false;
    }
  },
  methods: {
    cancel() {
      this.$emit('cancel');
    },
    update() {
      const comment = { id: this.id, text: this.editedText.trim() };

      this.$store.dispatch(COMMENTS.REQUEST.UPDATE, comment)
        .then(() => this.$emit('update') )
    }
  },
  watch: {
    editedText() {
      this.isTextPristine = false;
      this.$_resizeTextAreaMixin_resize(this.$refs.textArea)
    }
  }
};
</script>

<style lang="scss">
  .comment-edit textarea {
    width: 100%;
    border: 1px solid $dove-gray;
    outline-color: $scorpion;
    border-radius: 4px;
    background-color: $mine-shaft-light;
    color: $twilight;
    resize: none;
    overflow: hidden;
  }

  .edit-submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .edit-submit button,
  .edit-submit button:disabled,
  .edit-submit button:disabled:hover {
    color: white;
    display: block;
    text-transform: uppercase;
    background-color: $mine-shaft-light;
    border-color: $mine-shaft;
  }

  .edit-submit button:hover {
    color: white;
    background-color: $mine-shaft;
    border-color: black;
  }

  .edit-submit .cancel-edit,
  .edit-submit .error-message {
    margin-right: 5px;
  }

  .edit-submit .error-message {
    color: $guardsman-red;
  }
</style>