<template>
  <div class="comment">
    <div class="avatar-container">
      <img class="img" @click="toAuthor" v-bind:src="comment.author.avatarUrl || `${$data.$_publicPathMixin_path}no-avatar.png`">
    </div>

    <div class="comment-content">
      <div class="content-header">
        <span @click="toAuthor" class="author-name">{{ comment.author.name }}</span>
        <span class="comment-date">{{ new Date(comment.createdAt) | distance }} ago</span>
      </div>
      <div class="comment-text" v-show="!editActive">
        <span>{{ comment.text }}</span>
      </div>

      <comment-edit v-if="editActive" :text="comment.text" :id="comment.id" @cancel="toggleEdit" @update="toggleEdit"></comment-edit>
    </div>

    <resource-operations :config="operationsConfig" @evoke="evoke"></resource-operations>
  </div>
</template>

<script>
import BaseComment from '@/components/comments/BaseComment'
import CommentEdit from '@/components/comments/CommentEdit'
import ResourceOperations from '@/components/ResourceOperations'
import { publicPathMixin } from '@/common/mixins/public-path.mixin';

export default {
  extends: BaseComment,
  mixins: [publicPathMixin],
  components: { CommentEdit, ResourceOperations },
  methods: {
    toAuthor() {
      this.$router.push({ name: 'UserGeneral', params: { id: this.comment.author.id } })
    },
  }
};
</script>

<style lang="scss" scoped>
  .actions {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 23px;
  }

  .comment-date {
    font-size: 13px;
  }

  .avatar-container img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 2px;
    cursor: pointer;
  }

  .content-header {
    height: 36px;
  }
</style>