<template>
  <div class="comment" @click="toPost">
    <div class="comment-content">
      <div class="content-header">
        <span class="comment-date">{{ new Date(comment.createdAt) | distance }} ago</span>
      </div>
      <div class="comment-text" v-show="!editActive">
        <span>{{ comment.text }}</span>
      </div>

      <comment-edit v-if="editActive" :text="comment.text" :id="comment.id" @cancel="toggleEdit" @update="toggleEdit"></comment-edit>
    </div>

    <resource-operations :config="operationsConfig" @evoke="evoke"></resource-operations>
  </div>
</template>

<script>
import BaseComment from '@/components/comments/BaseComment'
import CommentEdit from '@/components/comments/CommentEdit'
import ResourceOperations from '@/components/ResourceOperations'

export default {
  extends: BaseComment,
  components: { CommentEdit, ResourceOperations },
  methods: {
    toPost() {
      this.$router.push({ name: 'PostShow', params: { id: this.comment.postId } });
    }
  }
};
</script>

<style lang="scss" scoped>
  .comment {
    padding-left: 10px;
  }

  .comment-date {
    font-size: 15px;
  }

  .content-header {
    height: 20px;
  }
</style>