<template>
  <div class="container no-header">
    <div class="row">
      <h3 class="create-post-title col-md-12">
        <slot></slot>
      </h3>
    </div>
    <div id="editor-container" class="row">
      <div class="title-container col-lg-8">
        <input class="title" type="text" placeholder="Title" maxlength="30" v-model="title" v-focus />
        <span class="title-length-count">{{ title | countTitleLength }}</span>
      </div>
      <tui-editor
          class="col-md-12 p-0"
          :options="editorOptions"
          previewStyle="vertical"
          :initialEditType="'wysiwyg'"
          height="200px"
          :initialValue="body"
          @change="onEditorChange"
          ref="editor"
      />
      <div class="button-container col-md-12">
        <button class="btn btn-primary float-right button" @click="submit" :disabled="submitDisabled">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import TuiEditor from "@toast-ui/vue-editor/src/Editor";
import { lengthCheckMixin } from '@/common/mixins/length-check.mixin';
import { HTTP } from '@/common/services/http.service'

const TITLE_MIN_LENGTH = 1;
const TITLE_MAX_LENGTH = 30;

export default {
  mixins: [lengthCheckMixin],
  components: { TuiEditor },
  props: {
    post: {
      body: String,
      title: String,
      default() {
        return {
          body: '',
          title: ''
        }
      }
    }
  },
  filters: {
    countTitleLength: function(title) {
      title = title.trim();
      return title.length + "/" + TITLE_MAX_LENGTH
    }
  },
  computed: {
    submitDisabled() {
      return !this.body || !this.$_lengthCheckMixin_inBetween(this.title, TITLE_MIN_LENGTH, TITLE_MAX_LENGTH)
    }
  },
  data() {
    return {
      title: '',
      body: '',
      editorOptions: { hideModeSwitch: true }
    }
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  },
  watch: {
    post: {
      handler(newVal, oldVal) {
        this.title = newVal.title;
        this.$refs.editor.invoke('setMarkdown', newVal.body);
      },
      deep: true
    }
  },
  methods: {
    onEditorChange() {
      this.body = this.$refs.editor.invoke('getMarkdown');
    },
    submit() {
      const { title, body } = this;
      this.$emit('submit', { title, body });
    }
  },
};
</script>

<style lang="scss">
  .create-post-title {
    text-align: center;
  }

  #editor-container {
    color: $alto;
    padding: 0 10px;
    border: 1px solid $mine-shaft;
    background-color: $gray;

    .title-container {
      margin: 10px auto;
      position: relative;
      width: 80%;

      .title-length-count {
        position: absolute;
        top: 1px;
        right: 20px;
      }

      .title {
        width: 100%;
        display: block;
        border: 1px solid $mirage;
        padding: 0 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: $mine-shaft;
        outline-color: $mirage;
        color: $twilight;
      }

      ::placeholder {
        color: $twilight;
        opacity: 0.5;
      }

      :-ms-input-placeholder {
        color: $twilight;
      }

      ::-ms-input-placeholder {
        color: $twilight;
      }
    }

    .button-container {
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button:last-child {
        margin-left: 10px;
      }
    }
  }
</style>