<template>
  <div class="row post" v-if="post.id">
    <div class="post-container col-md-12" @click="toPostShow">
      <div class="post-content">
        <div class="post-info">
          <p class="post-title">
            <span>{{ post.title }}</span>
          </p>
          <p class="author-info">
            <slot></slot>
          </p>
        </div>

        <viewer :initialValue="post.body" v-if="post.body" />
      </div>

      <resource-operations :config="operationsConfig" @evoke="evoke"></resource-operations>
    </div>
  </div>
</template>

<script>
import { HTTP } from '@/common/services/http.service'
import Viewer from "@toast-ui/vue-editor/src/Viewer";
import ResourceOperations from '@/components/ResourceOperations'
import { POSTS } from '@/stores/actions/posts.type'

export default {
  components: { Viewer, ResourceOperations },
  props: {
    post: {
      title: String,
      body: String
    },
    hideDelete: {
      type: Boolean,
      default: false
    },
    redirectOnDelete: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      operationsConfig: {
        like: true,
        edit: false,
        remove: false,

        darkTheme: true,
        liked: this.post.liked,
        likesCount: this.post.likesCount
      }
    }
  },
  created() {
    if (this.$can('manage', this.post)) {
      this.operationsConfig.edit = true;

      if (this.hideDelete) {
        this.operationsConfig.remove = false;
        return
      }

      this.operationsConfig.remove = true;
    }
  },
  methods: {
    evoke(operation) {
      switch (operation) {
        case 'Like':
          this.like();
          break;
        case 'Unlike':
          this.unlike();
          break;
        case 'Edit':
          this.toPostEdit();
          break;
        case 'Remove':
          this.remove();
          break;
      }
    },
    toPostShow() {
      if (this.$route.name === 'PostShow') { return }
      this.$router.push({ name: 'PostShow', params: { id: this.post.id } });
    },
    toPostEdit() {
      this.$router.push({ name: 'PostEdit', params: { id: this.post.id } });
    },
    like() {
      HTTP.post(`/posts/${this.post.id}/like`)
        .then(() => {
          this.operationsConfig.likesCount += 1;
          this.operationsConfig.liked = true;
        })
    },
    unlike() {
      HTTP.post(`/posts/${this.post.id}/unlike`)
        .then(() => {
          if (this.operationsConfig.likesCount > 0) {
            this.operationsConfig.likesCount -= 1;
          }
          this.operationsConfig.liked = false;
        })
    },
    remove() {
      this.$store.dispatch(POSTS.REMOVE, this.post.id)
        .then(() => {
          if (this.redirectOnDelete) {
            this.$router.back()
          }
        })
    }
  }
};
</script>

<style lang="scss">
  .post .post-container {
    border-radius: 3px;
    position: relative;
    background: $gray;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    padding: 4px 4px 4px 15px;
  }

  .post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .post {
    margin-bottom: 10px;
  }

  .post:last-child {
    margin-bottom: 0;
  }

  .post-info {
    color: $alto;
    text-overflow: ellipsis;
  }

  .post-title,
  .author-info {
    display: block;
    margin: 0;
  }

  .post-title {
    margin: 0;
    font-size: 20px;
    word-break: break-all;
  }

  .author-info {
    font-size: 14px;
  }

  .post-container:hover {
    border-color: $alto;
  }

  .post-icon {
    position: absolute;
    right: 3px;
    font-size: 14px;
  }

  .post-icon:hover {
    cursor: pointer;
  }

  .edit-icon {
    top: 3px;
  }

  .delete-icon {
    top: 28px;
  }

  .post-icon:hover {
    color: $tundora;
  }

  .post-container a,
  .post-container a:hover {
    color: inherit;
  }

  .post-container a:hover {
    text-decoration: underline;
  }
</style>