<template>
  <div class="post-author" v-my-stop>
    <span>By: </span>

    <router-link v-if="post.author.name" :to="{ name: 'UserGeneral', params: { id: post.author.id } }">
      {{ post.author.name }}
    </router-link>
  </div>
</template>

<script>
import customStopPropagation from '@/common/directives/stop-propagate-click'

export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  directives: {
    myStop: customStopPropagation
  }
};
</script>

<style lang="scss">
  .post-author {
    display: inline-block
  }
</style>