<template>
  <div class="user-comments container p-0">
    <loading v-show="loading"></loading>
    <h4 v-if="!loading && !areCommentsPresent" class="message">No comments yet</h4>

    <profile-comment v-for="comment in comments.list" :comment="comment" v-bind:key="comment.id" v-show="!loading" />
  </div>
</template>

<script>
import { HTTP } from '@/common/services/http.service'
import { COMMENTS } from '@/stores/actions/comments.type'
import { mapState, mapGetters } from 'vuex'
import ProfileComment from "@/components/comments/ProfileComment"

export default {
  components: { ProfileComment },
  computed: {
    ...mapState(['comments']),
    ...mapGetters(['areCommentsPresent'])
  },
  data() {
    return {
      loading: true,
    }
  },
  methods: {
    toPost(postId) {
      this.$router.push({ name: 'PostShow', params: { id: postId } })
    },
    fetchUserComments() {
      this.$store.dispatch(COMMENTS.REQUEST.USER_COMMENTS, this.$route.params.id)
        .then(() => this.loading = false )
    }
  },
  created() {
    this.fetchUserComments();
  },
  watch: {
    '$route.params.id': 'fetchUserComments'
  }
};
</script>

<style lang="scss" scoped>
  .message {
    margin: 0;
    text-align: center;
  }

  .user-comments .comment-date {
    font-size: 15px;
  }

  .user-comments .comment:hover {
    border-color: $alto;
  }

  .comment-list {
    position: relative;
  }

  .list-complete-item {
    transition: transform 1s, opacity 2s;
    position: relative;
    z-index: 1000;
  }

  .list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    transform: translateY(0);
  }

  .list-complete-leave-to {
    z-index: 1;
  }

  .list-complete-leave-active {
    position: absolute;
    width: 100%;
  }
</style>