<template>
  <div id="settings-general">
    <loading v-show="loading"></loading>

    <div v-show="!loading">
      <user-avatar-input :loading="loading" :can-update="canUpdate" :avatar="avatarUrl" @update-avatar="updateAvatar"/>

      <div class="info-container container-fluid">
        <div class="row">
          <h4 class="col-md-12">Info - {{ email }}</h4>

          <form class="col-md-12 user-form">
            <div class="row">
              <div class="col-sm-6" :class="{ 'form-group--error': $v.name.$error }">
                <div class="label-holder">
                  <label for="name">Name</label>
                </div>
                <input id="name"
                       type="text"
                       class="text-field"
                       :class="{ 'editable': canUpdate }"
                       v-model="$v.name.$model"
                       v-bind:readonly="!canUpdate">
              </div>
              <div class="col-sm-6">
                <label for="created">Created</label>
                <input id="created" type="text" class="text-field" v-bind:value="formattedCreatedAt" v-bind:readonly="true">
              </div>
              <ul class="user-error-list col-sm-12">
                <li class="error" v-if="!$v.name.required && $v.$anyDirty">Is required</li>
                <li class="error" v-if="!$v.name.noSpaces">Should be without spaces</li>
                <li class="error" v-if="!$v.name.minLength">Should be at least {{ $v.name.$params.minLength.min }} letters long</li>
                <li class="error" v-if="!$v.name.maxLength">Should be shorter than {{ $v.name.$params.maxLength.max }} letters long</li>
              </ul>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <label for="bio">About me</label>
                <textarea id="bio" ref="bio" placeholder="Tell us about yourself" class="text-field" v-model="bio" v-bind:readonly="!canUpdate" :class="{ 'editable': canUpdate }">
                </textarea>
              </div>
            </div>

            <div v-if="formError" class="form-error error">{{ formError }}</div>

            <div class="button-container" v-if="canUpdate">
              <b-button ref='updateButton' class="float-right button" @click="updateUser" :disabled="$v.$anyError || formLoading">Update</b-button>
              <loading-spinner :visible="formLoading"></loading-spinner>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserAvatarInput from '@/components/user/UserAvatarInput'
import LoadingSpinner from '@/components/LoadingSpinner'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { typeAs } from "@/common/utils";
import { USER } from '@/stores/actions/user.type'
import { HTTP } from '@/common/services/http.service'
import { noSpaces } from '@/common/validators/no-spaces'
import { format } from 'date-fns'
import { resizeTextAreaMixin } from '@/common/mixins/resize-textarea.mixin'

export default {
  mixins: [resizeTextAreaMixin],
  components: { UserAvatarInput, LoadingSpinner },
  computed: {
    canUpdate() {
      return this.$can('manage', typeAs('User')({ id: this.id }))
    },
    formattedCreatedAt() {
      if (!this.createdAt) { return '' }
      return format(new Date(this.createdAt), 'yyyy/MM/dd')
    },
  },
  validations: {
    name: {
      required,
      noSpaces,
      minLength: minLength(3),
      maxLength: maxLength(20)
    }
  },
  data() {
    return {
      id: null,
      email: '',
      name: '',
      avatarUrl: '',
      createdAt: null,
      bio: '',

      formError: '',
      loading: true,
      formLoading: false
    }
  },
  created() {
    this.fetchUserProfile()
  },
  methods: {
    resizeBio() {
      this.$nextTick(() => this.$_resizeTextAreaMixin_resize(this.$refs.bio) )
    },
    updateAvatar(avatarUrl) {
      this.avatarUrl = avatarUrl
    },
    updateUser() {
      this.formError = '';
      this.formLoading = true;
      const { bio, name } = this;

      this.$store.dispatch(USER.UPDATE, { bio, name })
        .catch(error => this.formError = error.response?.data?.error )
        .finally(() => {
          this.formLoading = false;
          this.$refs.updateButton.blur()
        });
    },
    fetchUserProfile() {
      this.loading = true;
      this.formError = '';

      this.$store.dispatch(USER.FETCH, this.$route.params.id)
        .then(response => {
          this.loading = false;
          Object.assign(this.$data, response.data)
        });
    }
  },
  watch: {
    '$route.params.id': 'fetchUserProfile',
    bio() {
      this.resizeBio();
    },
    name() {
      this.$v.$touch();
    }
  },
};
</script>

<style lang="scss" scoped>
  #settings-general {
    position: relative;

  #fileInput {
    display: none
  }

  .info-container {
    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
    }

    .text-field {
      outline: none;
      background: $gray;
      border: none;
      border-bottom: 1px $mirage dotted;
      display: block;
      color: $twilight;
      margin-bottom: 10px;
    }

    .text-field.editable {
      border-bottom: 1px $mirage solid;
    }

    .user-error-list {
      list-style: none;
    }

    #created {
      color: $silver
    }

    #bio {
      overflow: hidden;
    }

    #bio::placeholder {
      color: $silver;
      opacity: 1;
    }
  }

  h4 {
    border-bottom: 2px $mine-shaft solid
  }

  .form-error {
    margin-bottom: 5px;
    text-align: right;
  }

  .user-form .text-field {
    width: 100%;
  }
}
</style>