<template>
  <div class="container no-header">
    <div class="row justify-content-center">
      <div class="user-settings col-md-8 my-auto">

        <div class="settings-tabs container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-sm tab justify-content-center">
              <router-link :to="{ name: 'UserGeneral' }">General</router-link>
            </div>
            <div class="col-sm tab">
              <router-link :to="{ name: 'UserPosts' }">Posts</router-link>
            </div>
            <div class="col-sm tab">
              <router-link :to="{ name: 'UserComments' }">Comments</router-link>
            </div>
          </div>
        </div>

        <div class="settings-main">
          <keep-alive>
            <router-view></router-view>
          </keep-alive>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { COMMENTS } from '@/stores/actions/comments.type'
import { POSTS } from '@/stores/actions/posts.type'

export default {
  props: {
    id: Number,
    username: String
  },
  beforeRouteLeave: function(to, from, next) {
    this.$store.commit(COMMENTS.CLEAR);
    this.$store.commit(POSTS.CLEAR);

    next();
  }
};
</script>

<style lang="scss">
  .user-settings {
    margin-top: 30px
  }

  .settings-main {
    background: $gray;
    padding: 10px;
  }

  .settings-main,
  .settings-tabs {
    border: 1px $mirage solid;
  }

  .settings-tabs {
    z-index: 3000;
    margin-bottom: 10px;
  }

  .settings-tabs .tab {
    height: 40px;
  }

  .settings-tabs .tab a {
    background-color: $gray;
    color: $twilight;
    height: 100%;
    padding: 8px;
    display: block;
    text-align: center;
    transition: all 0.3s
  }

  .settings-tabs .tab a.router-link-active {
    background-color: $mine-shaft-light;
  }

  .settings-tabs .tab a:hover {
    background-color: $tundora;
  }
</style>