<template>
  <div class="container">
    <loading v-show="loading"></loading>
    <h4 v-if="!loading && !arePostsPresent" class="message">
      No posts yet
    </h4>
    <div v-show="!loading">
      <post v-for="post in posts.list" :post="post" v-bind:key="post.id" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { POSTS } from '@/stores/actions/posts.type'
import { HTTP } from '~/src/common/services/http.service'
import Post from "@/components/post/Post";

export default {
  components: { Post },
  computed: {
    ...mapState(['user', 'posts']),
    ...mapGetters(['arePostsPresent']),
  },
  data() {
    return {
      loading: true,
    }
  },
  created() {
    this.fetchUserPosts();
  },
  methods: {
    fetchUserPosts() {
      this.$store.dispatch(POSTS.USER_POSTS, this.$route.params.id)
        .then(response => this.loading = false )
    }
  },
  watch: {
    '$route.params.id': 'fetchUserPosts'
  }
};
</script>

<style lang="scss" scoped>
  .message {
    margin: 0;
    text-align: center;
  }
</style>