<template>
  <div id="app">
    <navigation />
    <unauthorized-modal />
    <notifications position="center bottom" classes="notifications" />
    <transition name="opacity" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<script>
import Navigation from '@/components/layout/Navigation';
import UnauthorizedModal from '@/components/modal/UnauthorizedModal'

export default {
  name: "App",
  components: { Navigation, UnauthorizedModal },
};
</script>

<style lang="scss">
  .opacity-enter-leave,
  .opacity-enter-active {
    transition: all 1s;
  }

  .opacity-enter,
  .opacity-leave-to {
    opacity: 0;
  }

  html, body, #app {
    color: $twilight;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
  }

  html body {
    padding-top: 57px;
    background-color: $scorpion;
  }

  .no-header {
    margin-top: 10px;
  }

  .error {
    color: $guardsman-red;
  }

  a {
    outline: none;
  }

  #app .button {
    display: block;
    text-transform: uppercase;
    background-color: $tundora-light;
    border-color: $tundora;
  }

  #app .button:hover:enabled {
    background-color: $mine-shaft-light;
    border-color: $mine-shaft;
  }

  #app .button:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .notifications {
    padding: 10px;
    margin: 0 5px 5px;

    font-size: 12px;

    color: $swan;

    .notification-title {
    }

    .notification-content {
    }

    &.error {
      background: $chestnut-rose;
      border-left-color: $matrix;
    }
  }

</style>
