<template>
  <div>
    <error-page :message="message"></error-page>
  </div>
</template>

<script>
import ErrorPage from '@/components/layout/ErrorPage'

export default {
  data() {
    return {
      message: "Resource not found, redirecting to home"
    }
  },
  components: { ErrorPage },
}
</script>

<style type="scss">
</style>