<template>
  <div class="h-100">
    <auth-form :displayed-fields="fields" @auth="auth" :form-text="formText" :alternate-form="alternateForm" :error="error" @clearError="error = ''"></auth-form>
  </div>
</template>

<script>
import { AUTH } from '@/stores/actions/auth.type'
import { USER } from '@/stores/actions/user.type'
import AuthForm from '@/components/AuthForm'
import { authErrorHandlerMixin } from '@/common/mixins/auth-error-handler.mixin'

const filterFields = ({ email, name, password }) => {
  return { email, name, password }
};

export default {
  components: { AuthForm },
  data() {
    return {
      alternateForm: "/login",
      error: "",
      formText: {
        title: "Registration",
        footer: "Already have account?",
        footerLink: "Login here"
      },
    }
  },
  mixins: [authErrorHandlerMixin],
  computed: {
    fields() {
      return filterFields(AuthForm.possibleFields)
    }
  },
  methods: {
    auth(params) {
      this.$store.dispatch(AUTH.SIGN_UP, params)
        .then((response) => {
          this.$store.commit(AUTH.RULES.DEFINE, {
            ability: this.$ability,
            user: response.data.user
          });
          this.$router.replace({ name: 'Home', params: { page: 1 } })
        })
        .catch(error => {
          this.error = this.$_authErrorHandlerMixin_handle(error)
        });
    },
  }
}
</script>

<style lang="scss">
</style>
